.contactsBlock{
    background-color: #68587c;
}
.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.contactsForm {
    width: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
}

.contactsForm input, .contactsForm textarea{
    width: 80%;
}

.button{
    padding: 10px 20px;
}