.contactsBlock{
    height: 350px;
    background-color: #68587c;
}
.contactsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contactsForm {
    width: 50%;
    height: 30%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    justify-content: flex-end;
}