@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.nav {
  min-width: 400px;
  @include flex(row, space-evenly, center, nowrap);

  letter-spacing: 1px;
  @include text($textFontFamily, 20px, 1.2, 400);

  .point {
    text-decoration: none;
    color: $primaryColor; //$textColor;

    &:hover {
      color: $textColor;
      text-decoration: underline $primaryColor 5px ;
    }
  }


}