@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.skill {
  width: 250px;
  padding-top: 10px;
  background-color: $bgColor;
  @include flex(column, center, center, wrap);

  .icon {
    height: 60px;
    width: 60px;
    background-color: #2b7faf;
    background-size: cover;
    background-position: center;
  }
}

.skillInfo {
  padding: 25px 20px;

  .skillTitle {
    margin: 0 0 5px;
    text-align: center;
    @include text($titleFontFamily, 20px, 1.2, 400);
    letter-spacing: 1px;
  }

  .description {
    @include text($textFontFamily, 12px, 1.8, 100);
    font-weight: 400;
  }
}

