@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  margin-bottom: 30px;
  position: relative;
  @include text($titleFontFamily, 25px, 1.2, 300);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 5px;

  .h2 {
    margin: 0;
  }

  //line after title
  &::after {
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -10px;

    transform: translate(-50%, 50%);
    left: 50%;
  }
}



