@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  margin-bottom: 30px;
  position: relative;

  @include text($titleFontFamily, 20px, 1.2);
  font-weight: 300;
  letter-spacing: 5px;

  text-transform: capitalize;

  .h2 {
    margin: 0;
  }

  &::after {
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;

    transform: translate(-50%, 50%);
    left: 50%;
  }
}



