.skillsBlock {
    height: 100vh;
    background-color: #88b467;
}

.skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    background-color: #68587c;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .skillsContainer{
        flex-direction: row;
        align-items: center;
    }
}