@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skillsBlock {
  min-height: 100vh;
  background-color: $bgSecColor;
  padding-bottom: 5px;
  @include flex(column, space-around, center, nowrap);

  .skillsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
    @media (max-width: 624px) {
      @include flex(row, center, center, wrap);
    }


    .skills {
      width: 100%;
      margin-top: 30px;
      @include flex(row, space-around, center, wrap);
      @media (max-width: 624px) {
        justify-content: center;
      }
    }
  }
}
