.footerBlock {
    background-color: #7cdfff;

}

.footerContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.icons {
    border: 1px solid;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #1515ab;
}