@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projectsBlock {
  min-height: 50vh;
  background-color: $bgColor;
  padding: 50px 0;
  @include flex(column, space-around, center, nowrap);


  .projectsContainer {
    @include container();

    @media (max-width: 624px) {
      flex-direction: row;
      justify-content: center;
    }

    .projects {
      width: 100%;
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      @media screen and (max-width: 937px) {
        justify-content: center;
      }
    }
  }
}


